doctype html
html(lang="en")
	head
		include header.pug
	body
		header
			nav
				div(id="left")
					img(src="https://discordapp.com/assets/da3651e59d6006dfa5fa07ec3102d1f3.svg", alt="GDB")
					h1 SmileCord
				div(id="right")
					button(type="button").btn.btn-light Login
		main
			h1.display-1 This app is still under construction. Please come back later. :slight-smile:
		footer
			p &copy; 2020 SadFrogMemer
		include scripts.pug
		script(type="text/javascript", src="/js/index.js")