doctype html
html(lang="en")
	head
		include header.pug
	body
		header
			nav
				img(src="/img/logo.svg", alt="GDB")
		main
		footer
		include scripts.pug
		script(type="text/javascript", src="/js/index.js")